accelerate==0.33.0
aiofiles==23.2.1
aiohappyeyeballs @ file:///home/conda/feedstock_root/build_artifacts/aiohappyeyeballs_1723793936996/work
aiohttp @ file:///home/conda/feedstock_root/build_artifacts/aiohttp_1723940556644/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1667935791922/work
annotated-types @ file:///home/conda/feedstock_root/build_artifacts/annotated-types_1716290248287/work
anyio==3.7.1
appdirs==1.4.4
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///tmp/build/80754af9/argon2-cffi-bindings_1644569684262/work
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
async-lru @ file:///croot/async-lru_1699554519285/work
async-timeout @ file:///home/conda/feedstock_root/build_artifacts/async-timeout_1691763562544/work
asyncer==0.0.2
attrs @ file:///croot/attrs_1695717823297/work
Babel @ file:///croot/babel_1671781930836/work
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
backoff==2.2.1
beautifulsoup4 @ file:///croot/beautifulsoup4-split_1718029820055/work
bidict==0.23.1
bleach @ file:///opt/conda/conda-bld/bleach_1641577558959/work
boto3==1.35.2
botocore==1.35.2
Brotli @ file:///croot/brotli-split_1714483155106/work
certifi @ file:///croot/certifi_1720453481653/work/certifi
cffi @ file:///croot/cffi_1714483155441/work
cfgv==3.4.0
chainlit==1.1.402
chardet==3.0.4
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
chevron==0.14.0
click==8.1.7
cloudpickle==2.2.1
cohere==5.8.1
comm @ file:///croot/comm_1709322850197/work
dataclasses-json==0.5.14
datasets==2.21.0
debugpy @ file:///croot/debugpy_1690905042057/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
deepdiff==7.0.1
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
Deprecated==1.2.14
dill==0.3.8
distlib==0.3.8
distro @ file:///croot/distro_1714488253808/work
docutils==0.20.1
docx2txt==0.8
eli5==0.13.0
emoji==2.12.1
et-xmlfile==1.1.0
exceptiongroup @ file:///croot/exceptiongroup_1706031385326/work
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
faiss-cpu==1.8.0.post1
fastapi==0.110.3
fastavro==1.9.5
fastjsonschema @ file:///opt/conda/conda-bld/python-fastjsonschema_1661371079312/work
filelock==3.15.4
filetype==1.2.0
FlagEmbedding==1.2.11
frozenlist @ file:///home/conda/feedstock_root/build_artifacts/frozenlist_1702645449312/work
fsspec==2024.6.1
future==1.0.0
geocoder==1.38.1
giskard==1.9.4
googleapis-common-protos==1.63.2
googletrans==2.4.0
graphviz==0.20.3
greenlet @ file:///home/conda/feedstock_root/build_artifacts/greenlet_1648882382141/work
grpcio==1.51.1
grpcio-status==1.48.2
h11==0.14.0
h2==3.2.0
hpack==3.0.0
hstspreload==2024.8.1
httpcore==1.0.5
httpx==0.27.2
httpx-sse==0.4.0
huggingface-hub==0.24.6
hyperframe==5.2.0
identify==2.6.0
idna==2.10
importlib_metadata==8.0.0
importlib_resources @ file:///croot/importlib_resources-suite_1720641103994/work
ipykernel @ file:///croot/ipykernel_1705933831282/work
ipython==7.34.0
ipywidgets @ file:///croot/ipywidgets_1709574692113/work
jedi @ file:///croot/jedi_1721058342488/work
Jinja2 @ file:///croot/jinja2_1716993405101/work
jiter==0.5.0
jmespath==1.0.1
joblib==1.4.2
json5 @ file:///tmp/build/80754af9/json5_1624432770122/work
jsonpatch @ file:///home/conda/feedstock_root/build_artifacts/jsonpatch_1695536281965/work
jsonpath-python==1.0.6
jsonpointer @ file:///home/conda/feedstock_root/build_artifacts/jsonpointer_1718283368615/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema_1720529478715/work
jsonschema-specifications @ file:///croot/jsonschema-specifications_1699032386549/work
jupyter @ file:///croot/jupyter_1707947101020/work
jupyter-console @ file:///croot/jupyter_console_1679999630278/work
jupyter-events @ file:///croot/jupyter_events_1718738097486/work
jupyter-lsp @ file:///croot/jupyter-lsp-meta_1699978238815/work
jupyter_client @ file:///croot/jupyter_client_1699455897726/work
jupyter_core @ file:///croot/jupyter_core_1718818295206/work
jupyter_server @ file:///croot/jupyter_server_1718827083372/work
jupyter_server_terminals @ file:///croot/jupyter_server_terminals_1686870725608/work
jupyterlab @ file:///croot/jupyterlab_1706802623017/work
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-widgets @ file:///croot/jupyterlab_widgets_1709322880313/work
jupyterlab_server @ file:///croot/jupyterlab_server_1699555425460/work
langchain @ file:///home/conda/feedstock_root/build_artifacts/langchain_1723704336486/work
langchain-community @ file:///home/conda/feedstock_root/build_artifacts/langchain-community_1723666199257/work
langchain-core @ file:///home/conda/feedstock_root/build_artifacts/langchain-core_1723848877185/work
langchain-experimental==0.0.64
langchain-ollama==0.1.1
langchain-openai==0.1.22
langchain-text-splitters @ file:///home/conda/feedstock_root/build_artifacts/langchain-text-splitters_1719389695345/work
langdetect==1.0.9
langsmith @ file:///home/conda/feedstock_root/build_artifacts/langsmith_1723429059527/work
Lazify==0.4.0
literalai==0.0.607
llvmlite==0.41.1
lockfile==0.12.2
lxml==5.3.0
MarkupSafe @ file:///croot/markupsafe_1704205993651/work
marshmallow @ file:///home/conda/feedstock_root/build_artifacts/marshmallow_1717665261177/work
matplotlib-inline @ file:///opt/conda/conda-bld/matplotlib-inline_1662014470464/work
mistune @ file:///opt/conda/conda-bld/mistune_1661496219659/work
mixpanel==4.10.1
mpmath==1.3.0
multidict @ file:///home/conda/feedstock_root/build_artifacts/multidict_1707040712962/work
multiprocess==0.70.16
mypy-extensions @ file:///home/conda/feedstock_root/build_artifacts/mypy_extensions_1675543315189/work
nbclient @ file:///croot/nbclient_1698934205032/work
nbconvert @ file:///croot/nbconvert_1699022732553/work
nbformat @ file:///croot/nbformat_1694616755618/work
nest-asyncio @ file:///croot/nest-asyncio_1708532673751/work
networkx==3.1
nltk==3.9.1
nodeenv==1.9.1
notebook @ file:///croot/notebook_1719499398921/work
notebook_shim @ file:///croot/notebook-shim_1699455894279/work
numba==0.58.0
numpy==1.24.4
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.6.20
nvidia-nvtx-cu12==12.1.105
ollama==0.3.1
openai==1.42.0
openpyxl @ file:///croot/openpyxl_1721752957391/work
opentelemetry-api==1.26.0
opentelemetry-exporter-otlp==1.26.0
opentelemetry-exporter-otlp-proto-common==1.26.0
opentelemetry-exporter-otlp-proto-grpc==1.26.0
opentelemetry-exporter-otlp-proto-http==1.26.0
opentelemetry-instrumentation==0.47b0
opentelemetry-proto==1.26.0
opentelemetry-sdk==1.26.0
opentelemetry-semantic-conventions==0.47b0
ordered-set==4.1.0
orjson @ file:///home/conda/feedstock_root/build_artifacts/orjson_1723206098544/work/target/wheels/orjson-3.10.7-cp38-cp38-linux_x86_64.whl#sha256=d929d4221aeb40dd9a9edcef81084d7fab6b97701c20b9002f9123a132793b77
overrides @ file:///croot/overrides_1699371140756/work
packaging==23.2
pandas==1.5.3
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
parameterized==0.9.0
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
peft==0.12.0
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
pillow==10.4.0
pkgutil_resolve_name @ file:///croot/pkgutil-resolve-name_1704297459416/work
platformdirs @ file:///croot/platformdirs_1692205439124/work
ply==3.11
pre-commit==3.5.0
prometheus-client @ file:///tmp/abs_d3zeliano1/croots/recipe/prometheus_client_1659455100375/work
prompt-toolkit @ file:///croot/prompt-toolkit_1704404351921/work
protobuf==3.20.3
psutil==5.9.8
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
pyarrow==17.0.0
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic @ file:///croot/pydantic_1695798841041/work
pydantic_core @ file:///home/conda/feedstock_root/build_artifacts/pydantic-core_1720041213962/work
Pygments @ file:///croot/pygments_1684279966437/work
pygoogletranslation==2.0.6
PyJWT==2.9.0
pypdf==4.3.1
PyPDF2==3.0.1
PyQt5==5.15.10
PyQt5-sip @ file:///croot/pyqt-split_1698769088074/work/pyqt_sip
pysbd==0.3.4
PySocks @ file:///tmp/build/80754af9/pysocks_1605305779399/work
python-daemon==2.3.2
python-dateutil @ file:///croot/python-dateutil_1716495738603/work
python-dotenv==1.0.1
python-engineio==4.9.1
python-iso639==2024.4.27
python-json-logger @ file:///croot/python-json-logger_1683823803357/work
python-magic==0.4.27
python-multipart==0.0.9
python-socketio==5.11.3
pytz @ file:///croot/pytz_1713974312559/work
PyYAML @ file:///croot/pyyaml_1698096049011/work
pyzmq @ file:///croot/pyzmq_1705605076900/work
qtconsole @ file:///croot/qtconsole_1709231153903/work
QtPy @ file:///croot/qtpy_1700144840038/work
ragas==0.1.14
rapidfuzz==3.9.6
ratelim==0.1.6
referencing @ file:///croot/referencing_1699012038513/work
regex==2024.7.24
requests @ file:///croot/requests_1721410876868/work
requests-toolbelt==0.9.1
rfc3339-validator @ file:///croot/rfc3339-validator_1683077044675/work
rfc3986==1.5.0
rfc3986-validator @ file:///croot/rfc3986-validator_1683058983515/work
rpds-py @ file:///croot/rpds-py_1698945930462/work
s3transfer==0.10.2
sacremoses==0.1.1
safetensors==0.4.4
scikit-learn==1.0.2
scipy==1.7.3
Send2Trash @ file:///croot/send2trash_1699371139552/work
sentence-transformers==3.0.1
sentencepiece==0.2.0
shap==0.41.0
simple-websocket==1.0.0
sip @ file:///croot/sip_1698675935381/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
slicer==0.0.7
sniffio @ file:///croot/sniffio_1705431295498/work
soupsieve @ file:///croot/soupsieve_1696347547217/work
SQLAlchemy @ file:///home/conda/feedstock_root/build_artifacts/sqlalchemy_1722927077938/work
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
starlette==0.37.2
sympy==1.13.2
syncer==2.0.3
tabulate==0.9.0
tenacity @ file:///home/conda/feedstock_root/build_artifacts/tenacity_1720351771156/work
terminado @ file:///croot/terminado_1671751832461/work
threadpoolctl==3.5.0
tiktoken==0.7.0
tinycss2 @ file:///croot/tinycss2_1668168815555/work
tokenizers==0.19.1
tomli @ file:///opt/conda/conda-bld/tomli_1657175507142/work
torch==2.4.0
tornado @ file:///croot/tornado_1718740109488/work
tqdm @ file:///croot/tqdm_1716395931952/work
traitlets @ file:///croot/traitlets_1718227057033/work
transformers==4.44.0
triton==3.0.0
types-requests==2.31.0.6
types-urllib3==1.26.25.14
typing-inspect @ file:///home/conda/feedstock_root/build_artifacts/typing_inspect_1685820062773/work
typing_extensions @ file:///croot/typing_extensions_1715268824938/work
tzdata==2024.1
Unidecode==1.3.8
unstructured==0.11.8
unstructured-client==0.25.5
uptrace==1.26.0
urllib3==1.26.19
uvicorn==0.25.0
virtualenv==20.26.3
watchfiles==0.20.0
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webencodings==0.5.1
websocket-client @ file:///croot/websocket-client_1715878298792/work
widgetsnbextension @ file:///croot/widgetsnbextension_1709322880396/work
wrapt==1.16.0
wsproto==1.2.0
xxhash==3.5.0
yarl @ file:///home/conda/feedstock_root/build_artifacts/yarl_1705508295670/work
zipp @ file:///croot/zipp_1704206909481/work
zstandard==0.20.0
